<ng-container class="container">
	<app-is-logged-header
	*ngIf="isLoggedIn"
 ></app-is-logged-header>
 	<app-is-un-logged-header *ngIf="!isLoggedIn"></app-is-un-logged-header>

	 <div class="top100-wrapper">
		<h2>TOP 100 RATING</h2>
		<p>
			We present to your attention the <strong>top 100 imdb</strong> films in Ukrainian, determined based on the IMDB rating.
			The TOP-100 most rated films are compiled based on voting for a particular film...
		</p>
	 
		<ul class="movie-list">
			<li class="movie-item" *ngFor="let movie of topMovies; index as i">
			  <div class="rank">
				 <span>{{ i + 1 }}</span>
			  </div>
			  <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" [alt]="movie.title" class="card-poster"/>
			  <div class="movie-info">
				 <h3>{{ movie.title }}</h3>
				 <h5 class="subtitle">{{ movie.original_title }}</h5>
				 
				 <div class="details">
					<span class="genres">{{ movie.genre_name }}</span>
					<span class="year">{{ movie.release_date | formatDate }}</span>
					<span class="imdb">IMDb {{ movie.vote_average.toFixed(1) }}</span>
					<span class="views">{{ movie.popularity.toFixed(0) }} votes</span>
				 </div>
			  </div>
			</li>
		 </ul>
	 </div>
	 

	 <app-footer></app-footer>
	</ng-container>