.top100-wrapper {
	padding: 7rem;
	background-color: #121212;
	color: #f0f0f0;
 
	h2 {
	  text-align: center;
	  margin-bottom: 1rem;
	}
 
	p {
	  max-width: 900px;
	  margin: 0 auto 2rem;
	  font-size: 1rem;
	  color: #ccc;
	  text-align: center;

 
	  strong {
		 color: #fff;
	  }
	}
 
	.movie-list {
	  list-style: none;
	  padding: 0;
 
	  .movie-item {
		 display: flex;
		 align-items: center;
		 gap: 1rem;
		 background-color: #1e1e1e;
		 margin-bottom: 1rem;
		 padding: 1rem;
		 border-radius: 8px;
 
		 .rank {
			font-size: 1.5rem;
			font-weight: bold;
			width: 30px;
			text-align: center;
		 }
 
		 img {
			width: 60px;
			border-radius: 4px;
		 }
 
		 .movie-info {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
 
			h3 {
			  margin: 0;
			}
 
			.subtitle {
			  color: #aaa;
			  font-size: 0.9rem;
			}
 
			
 
			.details {
			  display: flex;
			  gap: 1rem;
			  font-size: 0.85rem;
			  justify-content: end;

			  .genres {
			  font-size: 0.85rem;
			  color: #bbb;
			}
 
			  .rating-up {
				 color: #4caf50;
				 background: #263a29;
				 padding: 2px 6px;
				 border-radius: 4px;
			  }
 
			  .year,
			  .imdb,
			  .views {
				 background: #2e2e2e;
				 padding: 2px 6px;
				 border-radius: 4px;
			  }
 
			  .imdb {
				 background-color: #f5c518;
				 color: #000;
				 font-weight: bold;
			  }
			}
		 }
	  }
	}
 }

 
.subtitle{
	color: #2e2e2e;
}