

	.relative {
		width: 100vw; 
		height: 95vh;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center; 
		align-items: center;
		text-align: center;
		overflow: hidden; 
		
		&::before {
		  content: "";
		  position: fixed; 
		  width: 100vw;
		  height: 100vh;
		  background-color: rgba(0, 0, 0, 0.3); 
		  z-index: 1;
		}
	 }
 
	.absolute {
	  position: absolute;
	}
 
	.inset-0 {
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	}
 
	.h-96 {
	  height: 95vh;
	}
 
	.w-full {
	  width: 100%;
	}
 
	.bg-cover {
	  background-size: cover;
	}
 
	.bg-center {
	  background-position: center;
	}
 
	.text-white {
	  color: #ffffff;
	}
 
	.font-bold {
	  font-weight: bold;
	}
 
	.mb-4 {
	  margin-bottom: 1rem;
	}
 
	.mb-6 {
	  margin-bottom: 1.5rem;
	}
 
	.text-4xl {
	  line-height: 2.5rem;
	font-size: 3rem;
	}
 
	.text-lg {
	line-height: 1.75rem;
	font-size: 1.25rem;
	}
 
	.flex {
	  display: flex;
	}
 
	.justify-center {
	  justify-content: center;
	}
 
	.space-x-4 > :not([hidden]) ~ :not([hidden]) {
	  margin-left: 1rem;
	}
 
	.px-6 {
	  padding-left: 1.5rem;
	  padding-right: 1.5rem;
	  border-color: transparent;
	}
 
	.py-2 {
	  padding-top: 0.5rem;
	  padding-bottom: 0.5rem;
	}
 
	.bg-green-500 {
	  background-color: #00822f;
	}
 
	.hover\:bg-green-600:hover {
	  background-color: #30ec75;
	}
 
	.bg-gray-700 {
	  background-color: #374151;
	}
 
	.hover\:bg-gray-800:hover {
	  background-color: #1f2937;
	}
 
	.rounded-md {
	  border-radius: 0.375rem;
	}
 
	.font-semibold {
	  font-weight: 600;
	}

	 .content{
		max-width: 1000px;
		position: relative;
		z-index: 3;
		 }

 

 button {
	position: relative;
	z-index: 3;
 }

 