@for(movie of movies; track movie.id){
	<app-movie-card [data]="movie" (addFavorites)="handleToFavorites(movie)" (addWatchList)="handleToWatchList(movie)"></app-movie-card>
}

<ng-container *ngIf="favorites.length > 0">
	<div class="favourites-element">
		Улюблене:
		<ul>
			<li *ngFor="let favorite of favorites">
					<app-movie-card [data]="favorite"></app-movie-card>
			</li>
		</ul>
	</div>
</ng-container>

<ng-container *ngIf="watchLater.length > 0">
	<div class="watch-later-element">
		Подивитись:
		<ul>
			<li *ngFor="let item of watchLater">
				<app-movie-card [data]="item"></app-movie-card>
			</li>
		</ul>
	</div>
</ng-container>



