<div class="movies-section">
	<h2 class="section-title">Series</h2>
 
	<p-carousel class="custom-movies-carousel" [value]="movies" [numVisible]="4" [numScroll]="1" [showIndicators]="false" [responsiveOptions]="[
	  { breakpoint: '1024px', numVisible: 3, numScroll: 1 },
	  { breakpoint: '768px', numVisible: 2, numScroll: 1 },
	  { breakpoint: '480px', numVisible: 1, numScroll: 1 }
	]">
	  <ng-template pTemplate="item" let-movie>
		 <div class="movie-card">
			<img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" alt="" class="movie-image" />
			<h3>{{ movie.title }}</h3>
			<div class="movie-info">
				<span class="rating">⭐ {{ movie.vote_average.toFixed(1) }}</span>
			  <p>|	{{ movie.release_date | date:'yyyy' }}</p>
			</div>
		 </div>
	  </ng-template>
	</p-carousel>
 </div>