<footer class="footer">
	<div class="footer-content">
	  <div class="footer-text">
			Our platform is trusted by millions & features <br />
			best updated movies all around the world.
	  </div>
	  <nav class="footer-nav">
		 <a routerLink="/">Home /</a>
		 <a routerLink="/discover">Discover /</a>
		 <a routerLink="/influence">Influence /</a>
		 <a routerLink="/release">Release </a>
	  </nav>
	</div>
 
	<div class="footer-bottom">
	  <div class="footer-links">
		 <a routerLink="/privacy">Privacy policy</a>
		 <a routerLink="/terms">Term of service</a>
		 <p class="copyright">© 2025</p>
	  </div>
	  <div class="social-icons">
		 <a href="#"><i class="pi pi-camera"></i></a>
		 <a href="#"><i class="pi pi-facebook"></i></a>
		 <a href="#"><i class="pi pi-twitter"></i></a>
		 <a href="#"><i class="pi pi-globe"></i></a>
	  </div>
	</div>
 </footer>
 