<div class="header__container">
	<div class="header__logo">
		<a href="/" class="logo-box" title="Home"></a>
		<p class="logo__title">UA KinoPortal</p>
	</div>

	<div class="header__menu">
		<ul class="menu__list">
			<li class="list__item">
				Фільми
			</li>
			<li class="list__item">
				Серіали
			</li>
			<li class="list__item">
				Мультфільми
			</li>
			<li class="list__item">
				Підбірки
			</li>
			<li class="list__item">
				Спільнота
			</li>
			<li class="list__item">
				ТОП 100
			</li>
		</ul>
	</div>

	<div class="header__search">
		<input type="text" pInputText placeholder="Пошук..." />
		<button pButton icon="pi pi-search"></button>
	</div>

	<div class="header__auth">
		<button pButton label="Sign Up" icon="pi pi-user-plus" class="auth-button signup-button"></button>
		<button pButton label="Login" icon="pi pi-sign-in" class="auth-button login-button"></button>
	</div>

</div>