<ng-container class="container">
	<app-is-logged-header
	*ngIf="isLoggedIn"
	[subscriptionCount]="subscriptionCount"
	[subscribedMovies]="getSubscribedMovies()"
	(unsubscribeMovie)="unsubscribe($event)"
 ></app-is-logged-header>
 	<app-is-un-logged-header *ngIf="!isLoggedIn"></app-is-un-logged-header>
 
	<div class="content-section">
	  <h2 class="section-title">Cinema News – latest news from the world of cinema and even more</h2>
 
	  <div class="movie-list">
		<div
		class="movie-card"
		*ngFor="let movie of movies"
	 >
		<div
		  class="movie-background"
		  [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w400' + movie.poster_path + ')'}"
		></div>
	 
		<h3>{{ movie.title }}</h3>
		<div class="movie-info">
		  <p *ngIf="movie.overview.length > 100" class="overview">{{ movie.overview | slice:0:100 }}...</p>
		  <span class="rating">+ {{ movie.vote_average.toFixed(0) }}</span>
		  <p>{{ movie.release_date | date:'yyyy' }}</p>
		</div>
		<button class="subscribe-button" (click)="handleSubscription(movie)">
			{{ isLoggedIn ? (subscribedMovies.has(movie.id) ? 'Subscribed' : 'Subscribe') : 'Subscribe' }}
		 </button>	
	 </div>
	  </div>
	</div>

	 <app-login-popup
  *ngIf="showLogin"
  (closed)="closeLogin()"
  (loggedIn)="handleLoggedIn($event)">
</app-login-popup>
 
	<app-footer></app-footer>
 </ng-container>
 
 