<div class="movies-section">
	<h2 class="section-title">Popular of the week</h2>
 
	<p-carousel [value]="movies" [numVisible]="4" [numScroll]="1" [showIndicators]="false" [responsiveOptions]="[
	  { breakpoint: '1024px', numVisible: 3, numScroll: 1 },
	  { breakpoint: '768px', numVisible: 2, numScroll: 1 },
	  { breakpoint: '480px', numVisible: 1, numScroll: 1 }
	]">
	  <ng-template pTemplate="item" let-movie>
		 <div class="movie-card">
			<span class="card-number">{{movie.number}}</span>
			<img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" [alt]="movie.title" class="card-poster"/>	
			<div class="card-info">
				<h3>{{ movie.title }}</h3>
				<span class="rating">⭐ {{ movie.vote_average.toFixed(1)  }}	| {{movie.release_date | date:'yyyy'}} </span>
			</div>
		 </div>
	  </ng-template>
	</p-carousel>
 </div>
 