<div class="header__container">
	<a href="/" title="Home" class="header__logo">
		<a href="/" class="logo-box" title="Home"></a>
		<p class="logo__title">UA KinoPortal</p>
	</a>

	<div class="header__menu">
		<ul class="menu__list">
			<li class="list__item">
				Movies
			</li>
			<li class="list__item">
				Series
			</li>
			<li class="list__item">
				Cartoons
			</li>
			<li class="list__item">
				Selections
			</li>
			<li class="list__item">
				Community
			</li>
			<li class="list__item">
				TOP 100
			</li>
		</ul>
	</div>

	<div class="header__search">
		<input type="text" pInputText placeholder="Search..." />
		<button pButton icon="pi pi-search"></button>
	</div>

	<div class="header__auth">
		<div class="notification-icon">
			<i class="pi pi-bell"></i>
		</div>

		<div class="user-avatar" (click)="toggleDropdown()">
			<img src="../../../../../assets/img/header/avatar.png" alt="User Avatar" />
			<div class="dropdown-menu" *ngIf="isDropdownVisible">
			  <a routerLink="/profile">Profile</a>
			  <a routerLink="/settings">Settings</a>
			  <a (click)="logout()">Logout</a>
			</div>
		 </div>
	</div>

</div>